{% extends 'base.html' %}
<!-- {% load chem_exp %} -->

{% block title %}List of available glassware{% endblock %}
{% block body %}
<div class="container-fluid ml-2 mr-2 mt-2">
	<div class="row">
		<div class="col border rounded">
			<form action="" method="post">
			{% csrf_token %}
			  <div class="form-group">
			    <label for="glassware_name">Glassware name</label>
			    <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g. Beaker, Round bottom flask, etc." name="glassware_name">
			  </div>
			  <div class="form-group">
			    <label for="volume">Volume</label>
			    <input type="text" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="e.g. 1 l, 5 ml etc." name="volume">
			  </div>
			  <div class="form-group">
			    <label for="grade">Grade</label>
			    <input type="text" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="e.g. A, B, etc." name="grade">
			  </div>
			  <div class="form-group">
			    <label for="quantity">Quantity</label>
			    <input type="text" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="" name="quantity">
			  </div>
			  <div class="form-group">
			    <label for="data_enter">Date of entry</label>
			    <input type="text" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="YYYY-MM-DD" name="data_enter">
			  </div>
			  <div class="form-group">
			    <label for="manufacturer">Manufacturer</label>
			    <input type="text" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="" name="manufacturer">
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class="col-9">
			<table class="table table-sm table-hover">
				<thead class="thead-light">
					<tr>
					  <th scope="col-sm-1">#</th>
				      <th scope="col-sm-3">Glassware name</th>
				      <th scope="col-sm-1">Volume</th>
				      <th scope="col-sm-1">Grade</th>
				      <th scope="col-sm-1">Quantity</th>
				      <th scope="col-sm-2">Data of entry</th>
				      <th scope="col-sm-2">Manufacturer</th>
				      <th scope="col-sm-1"></th> <!-- Column for placing trash bin icon -->
				    </tr>
				</thead>
				<tbody>
					{% for item in glass %}
						<tr>
						  	<th scope="row">{{ item.id }}</th>
							<td>{{ item.glassware_name }}</td>
							<td>{{ item.volume }}</td>
					        <td>{{ item.grade }}</td>
						    <td>{{ item.quantity }}</td>
						    <td>{{ item.data_enter }}</td>
						    <td>{{ item.manufacturer }}</td>
							<td>
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ item.id }}">
									<i class="fa fa-trash-o" aria-hidden="true"></i>
								</button>

								<!-- Modal -->
								<div class="modal fade" id="{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
									      	<div class="modal-header">
									        	<h5 class="modal-title" id="exampleModalLabel">Delete selected glassware from database</h5>
									        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          		<span aria-hidden="true">&times;</span>
									        	</button>
									      	</div>
									    	<div class="modal-body">
									        	<p>This action will delete {{ item.glassware_name }} from data base. Are you sure?</p>
									    	</div>
										    <div class="modal-footer">
										        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											    <button type="submit" class="btn btn-secondary"><a style="text-decoration:none;" href="glassware/delete/{{item.id}}">Delete</a></button>
											</div>
										</div>
									</div>
								</div>
							</td>		
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div> <!-- end of div class-row -->
</div> <!-- end of div class-container -->
{% endblock %}